.logo {
	z-index: 1;
	position: absolute;
}

.foto {
	z-index: 0;
	position: absolute;

}

.nav {
	width: 3000px;

}

.card img {
	z-index: 2;
	position: absolute;
	margin-top:450px;
	margin-left: 20px; 
}

.contenido {
	position: relative;
	padding-top: 800px;
	text-align: center;
}

.option form select {
	border: 0;
	outline: 0;
	width: 25%;
	height: 60px;
	font-size: 25px;
}

body {
	margin: 0;

}

p {
	z-index: 2;
	color: white;
	position: absolute;
	margin: 0;
	font-size: 40px;
	margin-left:1450px;
	margin-top:550px;
	font-weight: bold;
	background-color: purple;
	padding: 10px;  
	opacity: 0.8;
}